<div class="topbar">
    <div class="box-90">
        <div class="header-flex-row">
            <div class="companylogo">
                <a href="index.html" class="logo-link">
                    <img src="img/mchess.webp" width="65" height="65" alt="Marwadi Chess Logo" class="logo-img"/>
                    <div class="logo-text-wrapper">
                        <div class="logo-title">
                            <strong class="text-marwadi">Marwadi</strong>
                            <strong class="text-chess">Chess</strong>
                        </div>
                        <span class="logo-tagline">Play, Learn & Master Chess</span>
                    </div>
                </a>
            </div>
            
            <div class="header-cta-wrapper">
                <a href="dailypuzzles.html" class="header-cta-btn cta-puzzle" title="Solve Daily Chess Puzzles">
                    <i class="fas fa-puzzle-piece"></i> <span>Daily Puzzle</span>
                </a>
                <a href="playonline.html" class="header-cta-btn cta-play" title="Play Online Chess">
                    <i class="fas fa-chess-knight"></i> <span>Play Online</span>
                </a>
                <a href="https://play.chessbase.com?room=Marwadi Chess Club&roomtext=&quot;Welcome to everyone&quot;&pic=https://mchess.eg1.in/img/marwadichesslogo.webp" target="_blank" class="header-cta-btn cta-club" title="Join Marwadi Chess Club">
                    <i class="fas fa-crown"></i> <span>Chess Club</span>
                </a>
            </div>
        </div>
    </div>
</div>