<div class="box-100 navbar">
    <div>
        <div class="box-100">
            <a class="toggleMenu" href="#">
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left">
                            <span class="text-black">Marwadi</span><span> Chess</span>
                        </td>
                        <td align="right">
                            <i class="icon icon-navicon icon-015x"></i>
                        </td>
                    </tr>
                </table>
            </a>
        </div>
        <div class="menu">
            <div class="box-90">
                <ul class="nav">
                    <li><a href="index.html" class="home">HOME</a></li>
					<li><a href="#" class="Misc">MISC
					<i class="icon icon-angle-down"></i></a>
                        <ul class="sub-nav">
                                <li><a href="chessrules.html">BASIC CHESS RULES</a></li>
                                <li><a href="chesstraps.html">LEARN CHESS TRAPS</a></li>
                                <li><a href="playcomp.html">PLAY VS COMPUTER</a></li>
								<li><a href="playonline.html">PLAY ONLINE CHESS</a></li>
								<li><a href="mygames.html">MY PLAYED GAMES</a></li>
								<li><a href="watchlive.html">WATCH TOP LIVE GAMES</a></li>
								<li><a href="dailypuzzles.html">DAILY CHESS PUZZLE</a></li>
								<li><a href="pgngames.html">PGN DATABASE</a></li>
                            </ul></li>
                    <li><a href="#">BLOG
					<i class="icon icon-angle-down"></i></a>
                        <ul class="sub-nav">
								<li><a href="blog.html">LATEST BLOG</a></li>
                                <li><a href="blog.html?cat=Learn%20Chess">LEARN CHESS</a></li>
                                <li><a href="blog.html?cat=Chess%20Quotes">CHESS QUOTES</a></li>
								<li><a href="blog.html?cat=Chess%20Puzzles">CHESS PUZZLES</a></li>
								<li><a href="blog.html?cat=Chess%20History">CHESS HISTORY</a></li>
								<li><a href="blog.html?cat=Mate%20in%202">MATE IN 2</a></li>
								<li><a href="blog.html?cat=Mate%20in%203">MATE IN 3</a></li>
								<li><a href="blog.html?cat=Mate%20in%204">MATE IN 4</a></li>
							</ul></li>
                    <li><a href="about.html">ABOUT</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
